<h1>Categories {{ categories|length > 0 ? '(' ~ categories|length ~ ')' }}</h1>
<hr/>
<ul class="list-group">
    {% for category in categories %}
      <li class="list-group-item">
        <span class="badge">id: {{ category.id }}</span>
        <a href="#">{{ category.name }}</a>
      </li>
    {% endfor %}
</ul>
