{% extends 'BtnAppBundle::layout.html.twig' %}

{% block content %}
    <h1>Games</h1>
    <hr />

    <div class="panel panel-default">
      <div class="panel-heading"><h4><a href="#">Infamous 2</a></h4> Ubisoft | 22-05-2004</div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, cumque, voluptas sunt delectus mollitia reprehenderit ad impedit illum cupiditate magnam doloremque error enim a aperiam quidem iste sed sapiente exercitationem.
        <a href="#">Read more</a>
      </div>
      <div class="panel-footer">Platforms: PS4, PS3</div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4><a href="#">Infamous 2</a></h4> Ubisoft | 22-05-2004</div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, cumque, voluptas sunt delectus mollitia reprehenderit ad impedit illum cupiditate magnam doloremque error enim a aperiam quidem iste sed sapiente exercitationem.
        <a href="#">Read more</a>
      </div>
      <div class="panel-footer">Platforms: PS4, PS3</div>
    </div>

    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}
