{% extends 'BtnAppBundle::layout.html.twig' %}

{% block content %}
    <h1>Games</h1>
    <hr />

    {% for game in 1..2 %}
        {% include 'BtnAppBundle:Game:_game.html.twig' with {'counter': loop.index } only %}
    {% else %}
        <p>Go and add first game</p>
    {% endfor %}

    <ul class="pagination">
        {% for page in 0..6 %}
            <li><a href="#">
                {% if loop.first %}
                    &laquo;
                {% elseif loop.last %}
                    &raquo;
                {% else %}
                    {{ page }}
                {% endif %}
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}
