{% extends 'BtnAppBundle::layout.html.twig' %}

{% block content %}
    <h1>Infamous</h1>
    <hr />
    Ubisoft | 22-05-2004 | PS4, PS3, PS VITA
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet voluptas illum! Reprehenderit, ut quae labore tempora. Corrupti, veniam, nulla quo libero ipsum odit nisi ipsa laudantium nam eos earum.</p>

    <a href="#" class="btn btn-default">&laquo; Back to list</a>
{% endblock %}
