{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% block sidebar %}
                {#{% include 'BtnAppBundle::_sidebar.html.twig' %}#}
                {{ render(controller('BtnAppBundle:Category:index')) }}
            {% endblock %}
        </div>
        <div class="col-md-8">
            {% block content '' %}
        </div>
    </div>
</div>
{% endblock %}
